body{
  color: #40514E;
margin: 0px;
text-align:center;
font-family: verdana,sans-serif;

}

h1{
    color: #66BFBF;
    font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
margin: auto;
padding: 5%;
}

hr{
  border: dotted #48426D 6px;
  border-bottom: none;
  width: 4%;
}

div{
background-color:powderblue;
height: 650px;

}
img{
  top:50px;
}
.cloud{
  position:absolute;
bottom: 5px;
}
a{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
margin: 10px 20px;
text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.mo1{
  position:absolute;
  top:300px;
}
.mo2{
  height: 450px;
  width: 400px;
}
.profile{
  margin-top: 20px;

}
.circular{
  border-radius: 20px;
}
.med{
  margin: auto;
  width: 1350px;
  background-color: #726A95;
  height: 300px;
  display: relative;
  right:20px;

}
.ter1{
  margin: 20px;
  margin-left: 200px;
  height: 300px;
  width: 300px;
  float: left;
}
.tam1
{
  margin: 20px;
  margin: 20px 150px;
  height: 300px;
  width: 300px;
  float: right;
}
.circular2{
  border-radius: 100%;
}
.para
{padding: 5%;
margin-right: 30px;
}

.skill-row {
background-color: #F8F1F1;
width: 1350px;
height:350px;
text-align: left;
line-height: 2;
}
.am{
  text-decoration: underline;
}
.skill-row2{
  background-color: #F05454;
  width: 1350px;
  height:350px;
}
.bottom{
  width: 1350px;
  height:60px;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.ta
{padding: 10%;
}
.btn {
  background: #75cfb8;
  background-image: -webkit-linear-gradient(top, #75cfb8, #bbdfc8);
  background-image: -moz-linear-gradient(top, #75cfb8, #bbdfc8);
  background-image: -ms-linear-gradient(top, #75cfb8, #bbdfc8);
  background-image: -o-linear-gradient(top, #75cfb8, #bbdfc8);
  background-image: linear-gradient(to bottom, #75cfb8, #bbdfc8);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.contact-me{
  width: 1350px;
  height:180px;
}
